<% provide(:title, "Contact") %>
    <h1>Sample App</h1>
    <p>
      This is the <a href="http://www.railstutorial.org/contact">contact</a> page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      .
    </p>
    <p>
         <a href="/static_pages/help"">Help</a>
    </p>
    <p>
         <a href="/static_pages/about">About</a>
    </p>
